<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department form </title>
</head>
<body>
<a href="/"> <strong>Home</strong>&nbsp;&nbsp;</a>
<a href="/employeelist"> <strong>All Employees &nbsp;&nbsp;</strong></a>
<a href="/departmentlist"> <strong>All Departments &nbsp;&nbsp;</strong></a>
<a href="/addemployee"> <strong>Add Employees  &nbsp;&nbsp; </strong></a>
<a href="/adddepartment"> <strong> Add Department </strong></a>

<h1> Sterling Solutions: Employee Database </h1>

<h2> Add New Department </h2>

<form th:action="@{/savedepartment}" th:object="${department}" method="post">
    <input type="hidden" th:field="*{id}">

    Department Name:<br />
    <input type="text" th:field="*{name}">
    <br />
    <br />
    <input type="submit" value="Submit">
</form>


</body>
</html>